@page
@model MedalRunner.Pages.App.Character.CreateModel
@{
}
<form method="post">
	<div class="form-group">
		<label asp-for="@Model.character.Name" class="control-label"></label>
		<input asp-for="@Model.character.Name" class="form-control" />
		<span asp-validation-for="@Model.character.Name" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.character.Race" class="controll-label"></label>
		<select name="Race" id="@Model.character.Race">
			<option value="null">Please select a Race</option>
			<option value="Human">Human</option>
			<option value="Dwarf">Dwarf</option>
			<option value="Gnome">Gnome</option>
			<option value="Night Elf">Night Elf</option>
			<option value="Drenei">Drenei</option>
			<option value="Worgen">Worgen</option>
			<option value="Pandaren">Pandaren</option>
			<option value="Orc">Orc</option>
			<option value="Troll">Troll</option>
			<option value="Tauren">Tauren</option>
			<option value="Undead">Undead</option>
			<option value="Blood Elf">Blood Elf</option>
			<option value="Goblin">Goblin</option>
		</select>
	</div>
	<div class="form-group">
		<label asp-for="@Model.character.CharacterClass" class="controll-label"></label>
		<select name="Character Class" id="@Model.character.CharacterClass">
			<option value="null">Please select a Class</option>
			<option value="Warrior">Warrior</option>
			<option value="Paladin">Paladin</option>
			<option value="Hunter">Hunter</option>
			<option value="Priest">Priest</option>
			<option value="Druid">Druid</option>
			<option value="Warlock">Warlock</option>
			<option value="Monk">Monk</option>
			<option value="Deathknight">Death Knight</option>
			<option value="Mage">Mage</option>
			<option value="Rouge">Rouge</option>
			<option value="Shaman">Shaman</option>
		</select>
	</div>

	<p>
		<div class="form-group">
			<input type="submit" value="Create" class="btn btn-primary" />
		</div>
	</p>
</form>