@page
@model MedalRunner.Pages.Public_pages.Item.IndexModel
@{
}

<h1>Items</h1>

<table>
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Material</th>
            <th>Item Level</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Models.Item i in Model._items)
        {
            <tr>
                <td><img class="col-image" src="@i.ImageUrl" style=""></td>
                <td class="col-name">@i.Name</td>
                <td class="col-name">@i.Material</td>
                <td class="col-name">@i.ItemLevel</td>
            </tr>
        }
    </tbody>
</table>

@* <!--
<div class="item-grid">
    @foreach (Models.Item item in Model._items)
    {
        <div class="item-card">
            <img src="@item.ImageUrl" alt="@item.Name" />
            <h2>@item.Name</h2>
            <p>Item Level: @item.ItemLevel</p>
            <p>Rarity: @item.Rarity</p>
            <p>Difficulty: @item.Difficulty</p>
            <a asp-page="Details" asp-route-id="@item.Id">View Details</a>
        </div>
    }
</div>
--> *@