@page
@model MedalRunner.Pages.Public_pages.Item.IndexModel
@{
}
<style>
    body {
        overflow-x: hidden;
    }
</style>
<h1>Items</h1>

<div>
    <form method="post" asp-page-handler="Filter">
        <input placeholder="Item name" asp-for="NameSearch" style="color:black"/>
        <select name="MaterialSearch" style="color:black">
            <option value="" style="color:black">Select one</option>
            <option value="Cloth" style="color:black">Cloth</option>
            <option value="Leather" style="color:black">Leather</option>
            <option value="Mail" style="color:black">Mail</option>
            <option value="Plate" style="color:black">Plate</option>
            <option value="1h-sword" style="color:black">1h-sword</option>
            <option value="1h-mace" style="color:black">1h-mace</option>
            <option value="1h-axe" style="color:black">1h-axe</option>
            <option value="Dagger" style="color:black">Dagger</option>
            <option value="Staff" style="color:black">Staff</option>
            <option value="Bow" style="color:black">Bow</option>
        </select>
        <select name="IsOneHanded" style="color:black">
            <option value="" style="color:black">Select an option</option>
            <option value="true" style="color:black">One-hand</option>
            <option value="false" style="color:black">Two-hand</option>
        </select>
        <button action="submit" style="color:black">Search</button>
    </form>
    <p>@ViewData["search-error-msg"]</p>
</div>

<table>
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Material</th>
            <th>Item Level</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.DisplayItems is null || Model.DisplayItems.Count == 0)
        {
            @foreach (Models.Item i in Model._items)
            {
                <tr>
                    <td><img class="col-image" src="@i.ImageUrl" style=""></td>
                    <td class="col-name">@i.Name</td>
                    <td class="col-name">@i.Material</td>
                    <td class="col-name">@i.ItemLevel</td>
                    <td><a asp-page="/Item/Details" asp-route-id="@i.Id" asp-route-slug="@i.Name.Replace(" ", "-")">See more</a></td>
                </tr>
            }
        } else
        {
            @foreach (Models.Item i in Model.DisplayItems)
            {
                <tr>
                    <td><img class="col-image" src="@i.ImageUrl" style=""></td>
                    <td class="col-name">@i.Name</td>
                    <td class="col-name">@i.Material</td>
                    <td class="col-name">@i.ItemLevel</td>
                    <td><a asp-page="/Item/Details" asp-route-id="@i.Id" asp-route-slug="@i.Name.Replace(" ", "-")">See more</a></td>
                </tr>
            }
        }

    </tbody>
</table>

@* <!--
<div class="item-grid">
    @foreach (Models.Item item in Model._items)
    {
        <div class="item-card">
            <img src="@item.ImageUrl" alt="@item.Name" />
            <h2>@item.Name</h2>
            <p>Item Level: @item.ItemLevel</p>
            <p>Rarity: @item.Rarity</p>
            <p>Difficulty: @item.Difficulty</p>
            <a asp-page="Details" asp-route-id="@item.Id">View Details</a>
        </div>
    }
</div>
--> *@